.modal-login {
  .modal-group {
    min-width: 755px;
    min-height: 431px;
    padding: 40px 35px;
    background-color: rgb(255, 255, 255);
    display: flex;
  }

  .modal-wrapper {
    &:nth-child(2) {
      margin-right: 40px;
    }

    &:nth-child(3) {
      margin-left: 40px;
    }

    width: 50%;

    .form-group {
      &:first-child {
        margin-top: 30px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      label {
        font-size: 14px;
        color: rgb(59, 59, 59);
      }

      &.form-group--checkbox {
        flex-direction: row;
        align-items: center;

        label {
          margin-bottom: 0;
          margin-left: 10px;
        }

        input {
          height: 16px;
          width: 16px;
        }
      }

      &.form-group--links {
        display: flex;
        flex-direction: row;

        a {
          &:first-child {
            margin-right: 30px;
          }

          font-size: 14px;
          color: rgb(61, 61, 61);
          text-decoration: underline;

          &:hover {
            text-decoration: none;
          }
        }
      }

      .btn-submit {
        min-height: 50px;
        background: #afb9c6;
        font-size: 14px;
        color: rgb(255, 255, 255);

      }

    }

    .btn-social--facebook {
      margin-top: 50px;
      background: #3b5998;
      &:before {
        background: url("facebook.png") no-repeat center;
      }
    }
    .btn-social--google {
      background: #ea4335;
      &:before {
        background: url("google.png") no-repeat center;
      }
    }
    .btn-social--twitter {
      background: #41abe1;
      &:before {
        background: url("twitter.png") no-repeat center;
      }
    }

    .btn-social {
      font-size: 14px;
      color: rgb(255, 255, 255);
      min-height: 50px;
      margin-bottom: 25px;
      transition: all .15s linear;
      &:before {
        margin-right: 10px;
        content: '';
        display: flex;
        position: relative;
        width: 16px;
        height: 15px;
      }
      &:hover {
        opacity: .8;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

}
