$header-navigation-bg: #696969;
$header-navigation-link-color: #c2c2c2;
$header-navigation-link-color--active: #fff;
$header-navigation-link-color--active-border: rgb(255, 201, 37);
$header-navigation-link-color--hover: #a7a7a7;
$header-navigation-login-color: #fff;
$header-navigation-login-bg: #ff8900;
$header-navigation-login-bg-hover: #f38712;


$header-information-callback-bg: rgb(255, 137, 0);
$header-information-callback-bg-hover: #f38712;
$header-information-callback-button-color: #fff;
$header-information-telephone-group-bg: rgb(245, 245, 245);
$header-information-block-color: rgb(61, 61, 61);
$header-information-block--trunk-counter-color: rgb(255, 255, 255);
$header-information-block--trunk-counter-bg: rgb(255, 133, 0);
$header-information-block--trunk-counter-shadow: rgba(247, 129, 0, 0.7);
